body {
  font-family: var(--font-base);
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: 800;
  color: var(--verde-600);
}

.section-title {
  font-size: var(--text-display);
  font-weight: 800;
  color: var(--verde-600);
  margin-bottom: 24px;
}

.section-title--dark {
  color: var(--color-black);
}

p {
  font-size: var(--text-lg);
  color: var(--navy-700);
  line-height: 1.5;
}
